@import "null.css";
.conteiner{
  display: flex;
  justify-content: center;
  
  margin: 0 auto;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
 
  max-width: 1400px;
}
.todoApp{
  font-size: 50px;
  margin-bottom: 20px;
}
/* .hearts{
  display: flex;
  justify-content: center;
}
.heart{
  font-size: 400px;
}
.heart:hover{
  transform: scale(1.5);
  color: red;
  transition: 0.5s;
  box-shadow: 10px 5px 5px rgb(112, 2, 2);
  background-color: rgb(2, 0, 1);
  border-radius: 25px;

}
.texts{
  position: relative;
  bottom: -160px;
  right: 220px;
  opacity: 0;
}
.texts:hover{
  position: relative;
  bottom: -160px;
  right: 220px;
  opacity: 1;
} */

